$dark: #81717a;
$mauve: #9d8ca1;
$lilac: #a7abdd;
$blue: #b4d4ee;
$yellow: #eaf0ce;
$red: #45050c;
$border: .5px solid $lilac;

body {
  background-image: url('/../scss/img/background.jpg');
  background-position: bottom;
  font-family: 'Economica', sans-serif;
}

.jumbotron {
  background-image: url('/../scss/img/jumbotron.jpg');
  background-size: cover;
  color: $red;
  text-shadow: 1px 1px $mauve;
  padding: 1px;
  margin-top: 3px;
  border: $border;
}

.header {
  padding-left: 10px;
  padding-bottom: 3px;
  color: $red;
  text-shadow: 1px 1px $yellow;
  margin: 2px;
  background-image: url('/../scss/img/jumbotron.jpg');
  background-size: cover;
  border: $border;
}

.response {
  display: none;
  background-image: url('/../scss/img/response.jpeg');
  background-size: cover;
  color: black;
  text-shadow: 1px 1px $blue;
  padding: 4px;
  margin-bottom: 10px;
  .link {
    color: $lilac;
    text-shadow: 1px 1px $red;
  }
}

.btn-default {
  background-color: $yellow;
  color: $dark;
}

#doctors {
  display: none;
}

#specialtyResponse {
  display: none;
}
